.env
.vscode/
*.pyc
src/VocabularyBuilder/delete.py
vocabCLI/modules/tempCodeRunnerFile.py
vocabCLI/tempCodeRunnerFile.py
vocabCLI/__pycache__/
tests/tempCodeRunnerFile.py
tests/__pycache__/
vocabCLI/exports/
env/

