setuptools>=42
wheel
bs4
click
configparser
dateparser
feedparser
fpdf
homophones
huggingface-hub
lxml
matplotlib
nltk
numpy
pandas
Pillow
playsound==1.2.2
pyspellchecker
Random-Word
requests
rich
seaborn
spacy
spacy-alignments
spacy-legacy
spacy-loggers
spacytextblob
textblob
textstat
tk
torch
torchaudio
torchvision
typer
trafilatura
transformers